.start {
    // height: 452px;
}
.start-wrap {
    padding-top: 114px;
    padding-bottom: 114px;
}
.title-start {
    // padding-top: 114px;
    text-align: center;
    font-family: 'Raleway', sans-serif ;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000000;
}
.Fusce {
    padding-top: 29px;
    text-align: center;
    font-family: 'Raleway', sans-serif ;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
}

.wrap-button-start {
    margin-top: 50px;
}